@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
}

a {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.bottomLinks a {
  text-decoration: none;
  color: #e1e1e1;
}

@media only screen and (max-width: 425px) {
  .for_slick_slider .items img {
    height: 200px !important;
    width: 250px !important;
  }

  .text {
    width: 120px !important;
    height: 100px !important;
  }

  .loremText {
    font-size: 11px !important;
  }

  .natureTitle {
    font-size: 27px;
  }

  .natureText {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .for_slick_slider .items img {
    height: 250px;
    width: 300px;
  }

  .text {
    width: 160px;
    height: 120px;
    left: 120px;
  }

  .loremText {
    top: 42px;
  }

  .bottomLinks ul li p {
    font-size: 12px !important;
  }
}

.header {
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.header li a:hover {
  color: rgb(221, 219, 219);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  right: 10px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.firstPage {
  height: 95vh;
  width: 100%;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.whereToGo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
  color: #fff;
  font-size: 40px;
}

.secondPage {
  height: 1800px;
  width: 100%;
  background-image: url(backgroundGreen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomLinks ul li p {
  font-size: 1rem;
}

.bottomLinks {
  background-color: #020b00;
  width: 100%;
  height: 7vh;

  align-items: center;
  /* background-color: royalblue; */
  position: sticky;
  top: 0;
  font-size: 1rem;
  z-index: 9999;
}

.bottomLinks ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  height: 100%;
}

.bottomLinks ul li {
  list-style: none;
  color: #e1e1e1;
}

.bottomLinks ul li a:hover {
  color: white;
}

.activeLink {
  border-bottom: white 1px solid;
  color: white;
}

.for_slick_slider {
  width: 99.8%;
  align-items: center;
}

.slick-current,
.slick-center .items {
  opacity: 1 !important;
}

.slick-current img {
  width: 342px !important;
  height: 250px !important;
  opacity: 1 !important;
  transition: all 1s;
}

.for_slick_slider .items {
  transition: all linear 0.4s;
  opacity: 0.5;
}

.for_slick_slider img {
  width: 250px;
  height: 180px;
}

.for_slick_slider .items {
  position: absolute;
  display: flex;
}

.text {
  position: absolute;
  background: #f6f6f6;

  border-radius: 10px;

  width: 200px;
  height: 125px;
  right: 35%;
  bottom: 0;
}

.titleText {
  position: absolute;
  top: 15px;
  color: #27691c;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.loremText {
  position: absolute;
  width: 95%;
  text-align: start;
  font-size: 12px;
  bottom: 30px;
  right: 2px;
}

.for_slick_slider .items {
  position: relative;
  /* background-color: red; */
}

.for_slick_slider {
  outline: none;
  padding-top: 150px;
}

.items {
  outline: none;
  cursor: pointer;
}

.slick-dots li button {
  width: 40px;
  height: 40px;
}

.slick-dots li button:before {
  font-size: 30px !important;
  line-height: 40px !important;
}
.slick-dots li.slick-active button:before {
  color: rgb(197, 197, 197) !important;
  font-size: 37px !important;
}

.slick-next {
  position: absolute;
  right: 2% !important;
  padding-top: 40px;
}

.slick-next::before {
  font-size: 40px !important;
  background-color: rgb(46, 45, 45);
}

.slick-prev::before {
  font-size: 40px !important;
  background-color: rgb(46, 45, 45);
}
.slick-prev {
  position: absolute;
  padding-top: 40px;
  left: 2% !important;
}

.natureHeader {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 90%;
  padding-top: 70px;
}

.natureTitle {
}

.bannerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  position: relative;
}

.slick-track {
  height: 250px;
}

.background23 {
  height: 90%;

  width: 90%;
}

* {
  margin: 0;
  padding: 0;
}
.thirdPage {
  height: 1800px;
  width: 100%;
  background-image: url(landmarksBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}
.hidden1 {
  display: none !important;
}

.modal {
  position: absolute;

  width: 50%;
  height: 40%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 200%;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.close-modal {
  position: absolute;
  top: 0;
  left: 85%;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.noscroll {
  overflow: hidden;
}

.noscroll1 {
  overflow: hidden;
}

.modal1 {
  position: absolute;

  width: 50%;
  height: 40%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalText {
  flex: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modalImage {
  flex: 2;
}

.modalImage img {
  width: 100%;
}

.overlay1 {
  position: absolute;
  width: 100%;
  height: 200%;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.close-modal1 {
  position: absolute;
  top: 0;
  left: 85%;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.dropdownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;

  cursor: pointer;
  color: white;
  background: rgb(7, 7, 7);
  width: 150px;

  display: none;
}

.dropdownContent li {
  /* padding-top: 20px; */
  padding: 14px 10px 14px 10px;

  border: 1px solid rgb(19, 19, 19);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.dropdownContent li a {
  padding: 0;
}
#cities:hover .dropdownContent {
  display: inline-flex;
}

#cities:hover .dropdownContent li:hover {
  background: rgb(32, 32, 32);
}

.typing {
  background-color: #020b00;
}
