.header {
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.header li a:hover {
  color: rgb(221, 219, 219);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  right: 10px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

.dropdownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;

  cursor: pointer;
  color: white;
  background: rgb(7, 7, 7);
  width: 150px;

  display: none;
}

.dropdownContent li {
  /* padding-top: 20px; */
  padding: 14px 10px 14px 10px;

  border: 1px solid rgb(19, 19, 19);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.dropdownContent li a {
  padding: 0 !important;
  margin: 0;
}
#cities:hover .dropdownContent {
  display: inline-flex;
}

#cities:hover .dropdownContent li:hover {
  background: rgb(32, 32, 32);
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

/* Landing Page*/

.landingPage {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(kosovo-library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(Albanian\ Fest.jpg);
  background-size: cover;
  height: 400px;
  margin: 0;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 250px;
}

.About {
  margin-top: 200px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(videobackground2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content1 {
  padding: 3%;
}

.title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

.cards1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.margin-top {
  margin-top: 100px;
}

.aboveCardsText {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.08);
  transition: 0.25s;
}

.card > img {
  width: 100% !important;
  height: 250px;
}

.text {
  color: white;
  font-size: 36px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
  color: #fff;
  font-size: 40px;
}

/* Text Animation  */

.typing {
  margin-left: 15px;
  background-color: #141414;
  position: relative;
}
.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  top: 0;
  right: 0;
  border-right: 3px solid white;
  animation: blink 0.4s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*First part*/

.content1 {
  padding: 3%;
}

.content1 > .title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

.aboveCardsText {
  width: 60%;
  text-align: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.08);
  transition: 0.25s;
}

.card > img {
  width: 100%;
  height: 250px;
}

/* Footer */

.footer {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 3%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 600px;
}

.footer > .contact-us {
  justify-content: space-evenly;
  /* background-color: red; */
  width: 50%;
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-bottom: #fff solid 1px;
  margin-bottom: 0px;
  align-items: center;
  text-align: center;
}

.footer > .contact-us > img {
  width: 7%;
}

.footer > .contact-us > p {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 4em;
}

.footer > .about-us {
  padding-top: 50px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-direction: row;
}

.footer > .about-us > .about {
  width: 50%;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.footer > .about-us > .newsletter {
  width: 40%;
  padding-left: 20px;
}

#email[type="text"] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.firstContact {
  display: flex;
  /* background-color: violet; */
  /* justify-content: space-evenly; */
  align-items: center;
  flex-direction: column;
}

.firstContact i {
  font-size: 30px;
  padding: 20px;
  background-color: #143413;
  border-radius: 50px;
}

.firstContact p {
  padding-top: 30px;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
